.main-slide-detail{
    padding-top: 30px;
    padding-right: 30px;
}

.arrow-image-left{
    position: absolute;
    z-index: 2;
    top: calc(50% - 15px);
    display:flex;
    justify-content:center;
    width: auto;
    left: 25px;
    padding: 0 0;
    background-color: snow;
}
.arrow-image-right{
    position: absolute;
    z-index: 2;
    top: calc(50% - 15px);
    display:flex;
    justify-content:center;
    width: auto;
    right:25px;
    padding: 0 0;
    background-color: snow;
}
.icon-arrow{
    color: #0c0c0c;
    font-size: 40px;
}
@media (min-width:769px) and (max-width: 990px) {
    .arrow-image-right{
        position: absolute;
        z-index: 2;
        right:5px;
        top: calc(50% - 15px);
        display:flex;
        justify-content:center;
    }
    .arrow-image-left{
        position: absolute;
        z-index: 2;
        left:5px;
        top: calc(50% - 15px);
        display:flex;
        justify-content:center;
    }
    .icon-arrow{
        font-size: 25px!important;
    }
}
@media (max-width: 768px) {
    .arrow-image-right{
        position: absolute;
        z-index: 2;
        right:5px;
        top: calc(50% - 15px);
        display:flex;
        justify-content:center;
    }
    .arrow-image-left{
        position: absolute;
        z-index: 2;
        left:5px;
        top: calc(50% - 15px);
        display:flex;
        justify-content:center;
    }
    .icon-arrow{
        font-size: 25px!important;
    }
}


.carousel .thumb{
    width: 5%!important;
    height:10%
}

@media (max-width: 768px) {
    .carousel .thumb{
        width: 14%!important;
    }

    .main-slide-detail{
        padding-top: 30px;
        padding-right: 0;
    }

    .main-slide-detail>.carousel-root>.carousel>.slider-wrapper {

     /*   height:400px*/
    }

 /*   .main-slide-detail>.carousel-root>.carousel>.slider-wrapper>ul>li>div{
        height:400px
    }*/
    .main-slide{
        padding-top: 30px;
        padding-right: 0;
    }
}
.carousel{
    text-align: center;
}

@media (min-width: 768px) {
    .textDescription{
        overflow: auto;
        overflow-x: hidden;
        height: 400px
    }
}

@media (min-width: 770px) and (max-width: 1100px) {
    .textDescription{
        overflow: auto;
        overflow-x: hidden;
        height: auto;
    }
}

.font__detailproduct{
    font-size: 15px;
}

@media (max-width: 768px) {
    .font__detailproduct{
        font-size: 14px!important;
    }
}


