.main-slide-detail{
    padding-top: 30px;
    padding-right: 30px;
}


.main-slide-detail>.carousel-root>.carousel>.slider-wrapper{
    width: 50vw;
}
.carousel .thumb{
    width: 5%!important;
    height:10%
}
@media (max-width: 768px) {
    .carousel .thumb{
        width: 14%!important;
    }

    .main-slide-detail{
        padding-top: 30px;
        padding-right: 0;
    }

    .main-slide-detail>.carousel-root>.carousel>.slider-wrapper {
        width:80vw
    }
    .main-slide{
        padding-top: 30px;
        padding-right: 0;
    }
}
.carousel{
    text-align: center;
}

@media (min-width: 768px) {
    .textDescription{
        overflow: auto;
        overflow-x: hidden;
        height: 400px
    }
}


