@media (max-width: 768px)
{
    .order-success{
        min-height: 30vh!important;
        padding-top: 10% !important;
    }
}


@media (max-width: 992px)
{
    .order-success{
        padding-top: 11% !important;
    }
}

.order-success{
    min-height: 50vh;
    padding-top: 5%;
}