.main-slide{
    padding-top: 30px;
}
.carousel .slide-wrapper{
    width: 50% !important;
}

.carousel .thumb{
    width: 5%;
    height:50px
}
.carousel{
    text-align: center;
}

.carousel-image img{
    width: 100%;
    object-fit:cover;
}

@media (max-width: 768px) {
    .carousel-image img{
        object-fit:fill;
        height:200px;
        width: 100%;
    }
}

