
.img-footer{
    width: 400px;
}
@media (max-width: 768px) {
    .img-footer{
        width: 500px!important;
    }
     p{
        padding-right: 1%;
    }

}

@media (max-width: 540px) {
    .items_footer_word_break{

    }
}

